# Dependencies
node_modules/
vendor/

# Environment variables (NUNCA subir al repo)
.env

# Python
__pycache__/
*.pyc
venv/

# OS
.DS_Store
Thumbs.db

# Firebase credentials
microservicio-productos/firebase-key.json
microservicio-productos/.env

# Laravel
api-gateway/vendor/
api-gateway/.env