# ─────────────────────────────────────────
# MICROSERVICIO VENTAS - Express + MongoDB
# ─────────────────────────────────────────

# Puerto del microservicio (no cambiar, el Gateway apunta aqui)
PORT=3000

# URI de MongoDB local
# Formato: mongodb://localhost:27017/NOMBRE_BASE_DE_DATOS
MONGO_URI=mongodb://localhost:27017/tienda_microservicios